body{ 
    background-color: #222831;
    color: #d6faff !important;
}

table{
    color: #d6faff !important;
}

input{
    background-color: #e7fafd !important;
}


button:hover{
    transform: scale(1.06);
    transition: 0.3s;
}
